@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\000033}}
.smartoffers-content div#accordion .accordion-item {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\000036}}
.smartoffers-content div#accordion .accordion-item a .accordion-heading {
  background-color: #DDD;
  border-bottom: solid 1px #CCC;
  border-right: solid 1px #CCC;
  line-height: 10em;
  color: #888;
  padding: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000313}}
.smartoffers-content div#accordion .accordion-item a .accordion-heading .accordion-title {
  font-size: 14px;
  color: #999 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000317}}
.smartoffers-content div#accordion .accordion-item a .accordion-heading .accordion-title:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000320}}
.smartoffers-content div#accordion .accordion-item a .accordion-heading .accordion-content {
  background: #EEE;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000328}}
.smartoffers-content div#draggable-image {
  text-align: center;
  display: block;
  width: 4em;
  height: 4em;
  padding-top: 3px;
  line-height: 4em;
  border: solid 2px #CCC;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background: #99ccff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000342}}
.smartoffers-content div#offer-container {
  height: 85px;
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000355}}
.smartoffers-content div#offer-components i#icon-bars {
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/campaign-design\/campaign-design\.scss}line{font-family:\0000358}}
.smartoffers-content div#offer-components i#icon-image {
  content: '\e08c';
  font-size: 27px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000315}}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000323}}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', Arial, Sans-Serif !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000330}}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000338}}
.header {
  height: 40px;
  /* Make the masthead heading the same height as the navigation */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000342}}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000348}}
.header .nav-primary {
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000350}}
.header .nav-primary .logo {
  font-size: 36px;
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000354}}
.header .nav-primary ul.nav-tab-list {
  float: right;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000358}}
.header .nav-primary li {
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000361}}
.header .nav-primary li.nav-link {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000364}}
.header .nav-primary a {
  display: inline-block;
  float: left;
  font-size: 1.125em;
  margin-left: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000370}}
.header .nav-primary a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000375}}
.header .nav-link {
  position: relative;
  top: 30px;
  padding: 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000381}}
.header .nav-link a {
  padding: 7px 12px 12px 0px;
  font-size: 1.125em;
  position: relative;
  top: -6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000390}}
.cs-container {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\0000394}}
.main-content {
  background: #EEE;
  position: absolute;
  width: 100%;
  top: 85px;
  border-bottom: solid 1px #DDD;
  -webkit-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}

/* Custom page footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003106}}
.footer {
  padding-top: 19px;
  padding-left: 90px;
  color: #777;
  background: white;
  height: 200px;
  border-top: 1px solid #ddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003115}}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003120}}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003124}}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003131}}
.marketing {
  margin: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003134}}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003146}}
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003153}}
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/johnbyrne\/Documents\/cs\/app\/_styles\/main\.scss}line{font-family:\00003157}}
  .jumbotron {
    border-bottom: 0;
  }
}
