// imports
@import '../campaign-design/campaign-design.scss';

// variables
$baseLineHeight: 20px;
$baseLineWidth: 20px;
$fontSizeSmall: 16px;
$fontSizeMedium: 28px;
$fontSizeLarge: 32px;
$fontSizeHeading: 36px;

// bower:scss
// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: $baseLineHeight;
	padding-bottom: $baseLineHeight;
  font-family: 'Raleway', Arial, Sans-Serif !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: $baseLineWidth * 0.75;
	padding-right: $baseLineWidth * 0.75;
}

/* Custom page header */
.header {
	height: $baseLineHeight * 2;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: $baseLineHeight * 2;
		padding-bottom: $baseLineHeight;
	}
  .nav-primary {
    padding-left: 0px;
    .logo {
      font-size: $fontSizeHeading;
      padding-left: 15px;
    }
    ul.nav-tab-list {
      float: right;
			padding-right: 20px;
    }
    li {
      list-style-type: none;
    }
    li.nav-link {
      float: right;
    }
    a {
      display: inline-block;
      float: left;
      font-size: 1.125em;
      margin-left: 1.5em;
    }
    a:hover {
      text-decoration: none;
    }
  }

	.nav-link {
		position: relative;
		top: 30px;
		padding: 0;
		text-align: center;

		a {
			padding: 7px 12px 12px 0px;
			font-size: 1.125em;
			position: relative;
			top: -6px;
		}
	}
}

.cs-container {
  padding: 0;
}

.main-content {
  background: #EEE;
  position: absolute;
  width: 100%;
  top: 85px;
  border-bottom: solid 1px #DDD;
  -webkit-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	padding-left: 90px;
	color: #777;
	background: white;
	height: 200px;
	border-top: 1px solid #ddd;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;

	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;

	p + h4 {
		margin-top: 28px;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		//max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: $baseLineHeight * 1.5;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
