<!-- #partial: app/dashboard/dashboard.tpl.html -->
<div class="dashboard-content">
  Home
</div>
<input ng-model="inputUsername" placeholder="Username"><br>
<input ng-model="inputPassword" placeholder="Password">
<button class="btn btn-primary">Submit</button>
<ul ng-repeat="user in users">
  <li>{{user.name}}: {{user.email}} / {{user.password}}</li>
</ul>
